@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Cormorant+Upright:wght@300&family=Jost:wght@400;800&family=Lato:ital@1&family=Playfair+Display:ital,wght@0,400;0,800;1,400&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;0,700;1,300;1,400&display=swap');

body {
    font-family: 'Roboto';
    font-style: normal;

}

/* Главный контейнер страницы "Контакты" */
.contacts {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;



}

/* Контейнер для всего текста */
.contacts-textmain {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin-left: 2%;


}

.textmain__title {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #BDBDBD;
    font-size: 3.5em;


}

.info {
    font-weight: 700;
    color: #333333;
}

.textmain__item {
    margin-bottom: 0%;
}

.contact {
    font-weight: bold;
}

/* 1234 Sample Street Austin Texas 76401 */
.sample {
    margin-top: 0%;
    margin-bottom: 4%;
}

/* 512.333.2222 */
.textmain__coordinates {
    font-weight: bold;
    margin-bottom: 4%;
}

/* sampleemail@gmail.com */
.textmain__mail {
    margin-bottom: 8%;
}

.textmain-form {}

/* Contact US кнопка */
.text__btn {
    min-width: 190px;
    height: 70px;
    background: #333333;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.9em;
}

/* Контейнер для карты */
.contacts-map {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: end;
}

/* Карта*/
.map__card {
    width: 45vw;
    height: 46vh;
}


@media screen and (min-width:768px) and(max-width:1023px) {
    .contacts {



    }

    .contacts-textmain {}

    .textmain-title {}

    .title__item {}

    .info {}

    .contacts-text {}

    .text-address {}

    .address__title {}

    .sample {}

    .text__coordinates {}

    .text__mail {}

    .text-form {}

    .text__btn {}

    .contacts-map {}

    .map__card {}

}

@media screen and (max-width:767px) {}


@media screen and (min-width:1024px) {}