@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Cormorant+Upright:wght@300&family=Jost:wght@400;800&family=Lato:ital@1&family=Playfair+Display:ital,wght@0,400;0,800;1,400&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;0,700;1,300;1,400&display=swap');

 /* <!-- НАВИГАЦИЯ --> */
.header__logo {
    height: 8vh;
    grid-column: 2;
    grid-row: 2;
    margin-top: -20px;
}

.header {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 2fr 3fr;
}

.header-nav {
    align-items: center;
    grid-column: 7/11;
    display: flex;
    justify-content: space-between;

}

.nav__item {

    margin-right: 10%;
    text-decoration: none;
    color: black;
    font-size: 0.9em;


}

.nav__item:hover {

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav__item:active {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* Блок с фото */
.gallery-photos {
    margin: 2% 12.5%;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Для заголовков */
.title_gray {
    display: flex;
    flex-direction: column;
    margin-left: 14%;
    font-weight: 300;
    color: #BDBDBD;
    font-size: 4em;
}

.title_dark {
    font-weight: 700;
    color: #333333;
}

/* Полоса под заголовком центрирование */
.gallery__line {
    text-align: center;
}

/* Полоса под заголовком картинка */
.gallery__line-img {
    width: 75%;
}

/* Фотографии в галерее */
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagination-section {
    margin: 0 12.5%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
}

.pagination__items a {
    background-color: #F9F9F9;
    margin: auto 5px;
    color: #333333;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}

.pagination__items .is-active {
    background-color: #FFFFFF;
    color: #333333;
}

.pagination__items {
    padding: 30px 0;
}

.pagination__items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination__items a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

.counter {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 140px;
    position: relative;
}

.counter__01 {
    position: absolute;
    word-break: break-all;
    width: 0;
    top: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #333333;
}

.counter__slash {
    position: absolute;
    left: 50px;
    font-size: 50px;
    left: 50px;
    transform: rotate(20deg);
    color: #BDBDBD;
}

.counter__05 {
    position: absolute;
    left: 100px;
    top: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #BDBDBD;
}

/* Футер */
.footer {
    padding: 0 10% 0 10%;
    font-family: Roboto;
}

/* Футер отступ сверху */
.footer-rows {
    padding-top: 1.5%;
}

/* Цвет ссылок в футере */
.footer-information__link {
    color: white;
}

/* Шрифт нижней части футера */
.footer-bottom {
    color: #C8C8C8;
    font-family: Open Sans;
}

/*Отступ в адресе*/
.texas {
    margin-left: 15%;
}

@media screen and (min-width: 1024px) {

.title_gray {
font-size: 4em;
}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

.title_gray {
font-size: 3em;
}

.gallery-photos {
padding-bottom: 5%;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
}

.gallery__img_1023 {
display: none;
}

.footer {
font-size: 0.85em;
}

.footer__title {
font-size: 1.4em;
}

.footer-bottom {
padding-right: 12%;
font-size: 0.85em;
}

.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.header__logo {
    height: 6vh;
}

.header-nav {
    grid-column: 4;
}

.nav__item {
    font-size: 0.8em;
}

}

@media screen and (max-width:767px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .header__logo {

        justify-self: center;
        grid-column: 1;
        width: 7vw;
        height: 7vh;
    }

    .header-nav {
        grid-column: 2;
    }

    .nav__item {
        margin-right: 4%;
        font-size: 0.6em;
    }
<<<<<<< HEAD

    .title_gray {
        font-size: 2em;
        }
        
        .gallery-photos {
        padding-bottom: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1%;
        }
        
        .gallery__img_767 {
        display: none;
        }
        
        .pagination-section {
            padding-top: 5%;
        }
        
        .footer {
        font-size: 0.7em;
        }
        
        .footer__title {
        font-size: 1.1em;
        }
        
        .footer-bottom {
        font-size: 0.7em;
        }
}
=======
>>>>>>> b99eb74796770d113c6b2825ed80f6f718378dea

    .title_gray {
        font-size: 2em;
        }
        
        .gallery-photos {
        padding-bottom: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1%;
        }
        
        .gallery__img_767 {
        display: none;
        }
        
        .pagination-section {
            padding-top: 5%;
        }
        
        .footer {
        font-size: 0.7em;
        }
        
        .footer__title {
        font-size: 1.1em;
        }
        
        .footer-bottom {
        font-size: 0.7em;
        }
}
