/* Шрифт Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Для заголовков */
.title_gray{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 300;
    color: #BDBDBD;
    font-size: 3.5em;
    font-family: 'Roboto';
}

.title_dark {
    font-weight: 700;
    color: #333333;
}

/* Счетчик слайдов/страниц */
.counter {
    position: relative;
    height: 52px;
    width: 142px;
    margin-bottom: 30px;
}
.counter span {
    color: #BDBDBD;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
}
.counter .counter__01 {
    position: absolute;
    width: 0;
    word-break: break-all;
    top: 15px;
}
.counter span.counter__slash {
    position: absolute;
    font-size: 50px;
    left: 50px;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
}
.counter .counter__02 {
    position: absolute;
    left: 100px;
    top: 15px;
}

.header__logo {
    height: 8vh;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: -20px;
}

.header {
    margin-top: 2%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 10% 2fr 3fr;
    grid-template-rows: 10% 2fr 3fr;
}

.header > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.header > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.header > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.header > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.header > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.header > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
}

.header > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.header > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
}

.header > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.header > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
}

.header > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}

.header > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 12;
}

.header > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.header > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.header > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.header > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
}

.header > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
}

.header > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
}

.header > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
}

.header > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
}

.header > *:nth-child(21) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
}

.header > *:nth-child(22) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
}

.header > *:nth-child(23) {
    -ms-grid-row: 2;
    -ms-grid-column: 11;
}

.header > *:nth-child(24) {
    -ms-grid-row: 2;
    -ms-grid-column: 12;
}

.header > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.header > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

.header > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.header > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
}

.header > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.header > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
}

.header > *:nth-child(31) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.header > *:nth-child(32) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
}

.header > *:nth-child(33) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}

.header > *:nth-child(34) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
}

.header > *:nth-child(35) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
}

.header > *:nth-child(36) {
    -ms-grid-row: 3;
    -ms-grid-column: 12;
}

.header-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.nav__item {

    margin-right: 10%;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.nav__item:hover {

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav__item:active {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@media screen and (max-width:1023px) {
    .header {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    }

    .header__logo {
        height: 6vh;
    }

    .header-nav {
        -ms-grid-column: 4;
        grid-column: 4;
    }

    .nav__item {
        font-size: 0.8em;
    }
}

@media screen and (max-width:767px) {
    .header {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .header__logo {

        -ms-grid-column-align: center;

            justify-self: center;
        -ms-grid-column: 1;
        grid-column: 1;
        width: 7vw;
        height: 7vh;
    }

    .header-nav {
        -ms-grid-column: 2;
        grid-column: 2;
    }

    .nav__item {
        margin-right: 4%;
        font-size: 0.6em;
    }
}

/* Цвет ссылок в футере */
.footer-information__link {
    color: white;
}

        /* Форма */
        label.required:after {
            color: red;
            content: " *";
        }

        .input_bgr {
            background-color: #F3F3F3;
        }

        .certification
        {display: -ms-grid;display: grid;
        -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12,1fr);
        -ms-grid-rows:(1fr)[5];
        grid-template-rows:repeat(5,1fr);}

        .certification > *:nth-child(1)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 1;}

        .certification > *:nth-child(2)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 2;}

        .certification > *:nth-child(3)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 3;}

        .certification > *:nth-child(4)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 4;}

        .certification > *:nth-child(5)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 5;}

        .certification > *:nth-child(6)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 6;}

        .certification > *:nth-child(7)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 7;}

        .certification > *:nth-child(8)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 8;}

        .certification > *:nth-child(9)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 9;}

        .certification > *:nth-child(10)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 10;}

        .certification > *:nth-child(11)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 11;}

        .certification > *:nth-child(12)
        {
    -ms-grid-row: 1;
    -ms-grid-column: 12;}

        .certification > *:nth-child(13)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 1;}

        .certification > *:nth-child(14)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 2;}

        .certification > *:nth-child(15)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 3;}

        .certification > *:nth-child(16)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 4;}

        .certification > *:nth-child(17)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 5;}

        .certification > *:nth-child(18)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 6;}

        .certification > *:nth-child(19)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 7;}

        .certification > *:nth-child(20)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 8;}

        .certification > *:nth-child(21)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 9;}

        .certification > *:nth-child(22)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 10;}

        .certification > *:nth-child(23)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 11;}

        .certification > *:nth-child(24)
        {
    -ms-grid-row: 2;
    -ms-grid-column: 12;}

        .certification > *:nth-child(25)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 1;}

        .certification > *:nth-child(26)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 2;}

        .certification > *:nth-child(27)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 3;}

        .certification > *:nth-child(28)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 4;}

        .certification > *:nth-child(29)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 5;}

        .certification > *:nth-child(30)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 6;}

        .certification > *:nth-child(31)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 7;}

        .certification > *:nth-child(32)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 8;}

        .certification > *:nth-child(33)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 9;}

        .certification > *:nth-child(34)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 10;}

        .certification > *:nth-child(35)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 11;}

        .certification > *:nth-child(36)
        {
    -ms-grid-row: 3;
    -ms-grid-column: 12;}

        .certification > *:nth-child(37)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 1;}

        .certification > *:nth-child(38)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 2;}

        .certification > *:nth-child(39)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 3;}

        .certification > *:nth-child(40)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 4;}

        .certification > *:nth-child(41)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 5;}

        .certification > *:nth-child(42)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 6;}

        .certification > *:nth-child(43)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 7;}

        .certification > *:nth-child(44)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 8;}

        .certification > *:nth-child(45)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 9;}

        .certification > *:nth-child(46)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 10;}

        .certification > *:nth-child(47)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 11;}

        .certification > *:nth-child(48)
        {
    -ms-grid-row: 4;
    -ms-grid-column: 12;}

        .certification > *:nth-child(49)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 1;}

        .certification > *:nth-child(50)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 2;}

        .certification > *:nth-child(51)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 3;}

        .certification > *:nth-child(52)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 4;}

        .certification > *:nth-child(53)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 5;}

        .certification > *:nth-child(54)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 6;}

        .certification > *:nth-child(55)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 7;}

        .certification > *:nth-child(56)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 8;}

        .certification > *:nth-child(57)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 9;}

        .certification > *:nth-child(58)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 10;}

        .certification > *:nth-child(59)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 11;}

        .certification > *:nth-child(60)
        {
    -ms-grid-row: 5;
    -ms-grid-column: 12;}
        
        .certification__title{
            -ms-grid-column: 2;
            grid-column: 2;}