/* Шрифт Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Для заголовков */
.title_gray{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #BDBDBD;
    font-size: 3.5em;
    font-family: 'Roboto';
}

.title_dark {
    font-weight: 700;
    color: #333333;
}

/* Счетчик слайдов/страниц */
.counter {
    position: relative;
    height: 52px;
    width: 142px;
    margin-bottom: 30px;
}
.counter span {
    color: #BDBDBD;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
}
.counter .counter__01 {
    position: absolute;
    width: 0;
    word-break: break-all;
    top: 15px;
}
.counter span.counter__slash {
    position: absolute;
    font-size: 50px;
    left: 50px;
    transform: rotate(20deg);
}
.counter .counter__02 {
    position: absolute;
    left: 100px;
    top: 15px;
}

.header__logo {
    height: 8vh;
    grid-column: 2;
    grid-row: 2;
    margin-top: -20px;
}

.header {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 2fr 3fr;
}

.header-nav {
    align-items: center;
    grid-column: 7/11;
    display: flex;
    justify-content: space-between;

}

.nav__item {

    margin-right: 10%;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.nav__item:hover {

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav__item:active {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@media screen and (max-width:1023px) {
    .header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .header__logo {
        height: 6vh;
    }

    .header-nav {
        grid-column: 4;
    }

    .nav__item {
        font-size: 0.8em;
    }
}

@media screen and (max-width:767px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .header__logo {

        justify-self: center;
        grid-column: 1;
        width: 7vw;
        height: 7vh;
    }

    .header-nav {
        grid-column: 2;
    }

    .nav__item {
        margin-right: 4%;
        font-size: 0.6em;
    }
}

/* Цвет ссылок в футере */
.footer-information__link {
    color: white;
}
